[Unit]
Description=autogit (roam)

[Service]
Type=simple
WorkingDirectory=%h/org/roam
ExecStart=%h/my_programs/autogit/autogit

[Install]
WantedBy=default.target
